<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>A Simple Application</display-name>

    <!--

        <context-param>
            <param-name>Webmaster</param-name>
            <param-value>webmaster@example.com</param-value>
        </context-param>

        <servlet>
            <servlet-name>catalog</servlet-name>
            <servlet-class>com.example.CatalogServlet</servlet-class>
            <init-param>
                <param-name>catalog</param-name>
                <param-value>Spring</param-value>
            </init-param>
        </servlet>

        <servlet-mapping>
            <servlet-name>catalog</servlet-name>
            <url-pattern>/catalog/*</url-pattern>
        </servlet-mapping>

        <session-config>
            <session-timeout>30</session-timeout>
        </session-config>

        <mime-mapping>
            <extension>pdf</extension>
            <mime-type>application/pdf</mime-type>
        </mime-mapping>

        <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
            <welcome-file>index.html</welcome-file>
            <welcome-file>index.html</welcome-file>
        </welcome-file-list>

        <error-page>
            <error-code>404</error-code>
            <location>/404.html</location>
        </error-page>

    </web-app>


    <web-app>





    -->
    <resource-ref>
        <description>DataSource</description>
        <res-ref-name>jdbc/MySQL</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>


    </resource-ref>

    <listener>
        <listener-class>ua.com.company.listener.AppContextListener</listener-class>
    </listener>

    <!--    FILTER-->
 <!--   <filter>
        <filter-name>BanFilter</filter-name>
        <filter-class>ua.com.company.filter.BanFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BanFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->
    <filter>
        <filter-name>SessionLocaleFilter</filter-name>
        <filter-class>ua.com.company.filter.SessionLocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
     <filter-name>RequestLocaleFilter</filter-name>
     <filter-class>ua.com.company.filter.RequestLocaleFilter</filter-class>
 </filter>
    <filter-mapping>
        <filter-name>RequestLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminPageFilter</filter-name>
        <filter-class>ua.com.company.filter.AdminPageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminPageFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserPageFilter</filter-name>
        <filter-class>ua.com.company.filter.UserPageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserPageFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.com.company.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--    FILTER-->

    <!--    SERVLET-->
    <!--    admin-->

    <servlet>
        <servlet-name>AdminPublicationDashboardServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.admin.AdminPublicationDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPublicationDashboardServlet</servlet-name>
        <url-pattern>/admin/publication/dashboard</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminPublicationDetailsServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.admin.AdminPublicationDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPublicationDetailsServlet</servlet-name>
        <url-pattern>/admin/publication/details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminUserDetailsServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.admin.AdminUserDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserDetailsServlet</servlet-name>
        <url-pattern>/admin/user/details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminUserDashboardServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.admin.AdminUserDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserDashboardServlet</servlet-name>
        <url-pattern>/admin/user/dashboard</url-pattern>
    </servlet-mapping>
    <!--    <servlet>
            <servlet-name>AdminUserStatusServlet</servlet-name>
            <servlet-class>ua.com.company.view.controller.admin.AdminUserStatusController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>AdminUserStatusServlet</servlet-name>
            <url-pattern>/admin/user/status</url-pattern>
        </servlet-mapping>-->
    <servlet>
        <servlet-name>AdminPublicationUploadServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.admin.AdminPublicationUploadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPublicationUploadServlet</servlet-name>
        <url-pattern>/admin/publication/upload</url-pattern>
    </servlet-mapping>

    <!--    admin-->


    <!--    auth-->

    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutPageServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutPageServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpPageServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.auth.SignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpPageServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <!--    auth-->
    <!--    index page-->
<!--    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.LanguageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/*language</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.user.UserSubscribeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/user/subscribe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IndexPageServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.IndexPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexPageServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <!--    index page-->
    <!--    user-->
    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.user.UserDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/user/details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSubscriptionsServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.user.UserSubscriptionsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSubscriptionsServlet</servlet-name>
        <url-pattern>/user/subscriptions</url-pattern>
    </servlet-mapping>
    <!--    user-->
    <!--    category-->
    <servlet>
        <servlet-name>CategoryDetailsServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.category.CategoryDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryDetailsServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <!--    category-->
    <!--    error-->
    <servlet>
        <servlet-name>NPEServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.error.NPEController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NPEServlet</servlet-name>
        <url-pattern>/npe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DBEServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.error.DBEController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBEServlet</servlet-name>
        <url-pattern>/dbe</url-pattern>
    </servlet-mapping>
    <!--    error-->
    <!--    publication-->
    <servlet>
        <servlet-name>PublicationDetailsServlet</servlet-name>
        <servlet-class>ua.com.company.view.controller.publication.PublicationDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublicationDetailsServlet</servlet-name>
        <url-pattern>/publication/details</url-pattern>
    </servlet-mapping>
    <!--    publication-->
    <!--    SERVLET-->
    <!--error-->
    <error-page>
        <error-code>500</error-code>
        <location>/npe</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/npe</location>
    </error-page>
    <error-page>
        <exception-type>ua.com.company.exception.DBException</exception-type>
        <location>/dbe</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/dbe</location>
    </error-page>
    <!--error-->

</web-app>
